.hg
.deps/
.libs/
Makefile
brilliantrussian.lo
brilliantrussian.o
config.log
config.status
grayflex.lo
grayflex.o
libm4ri.la
libtool
lqup.lo
lqup.o
misc.lo
misc.o
packedmatrix.lo
packedmatrix.o
permutation.lo
permutation.o
pluq_mmpf.lo
pluq_mmpf.o
solve.lo
solve.o
src/config.h
src/stamp-h1
strassen.lo
strassen.o
test_elimination
test_elimination.o
test_kernel
test_kernel.o
test_lqup
test_lqup.o
test_multiplication
test_multiplication.o
test_solve
test_solve.o
test_trsm
test_trsm.o
trsm.lo
trsm.o
